.btn{
    width: 274px;
    height: 274px;
    background-color: #FFF;
    border-radius: 100%;
    font-family: 'Bellefair';
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 24vh;
    margin-left: 20vw;
}

@media(min-width:376px) and (max-width:768px) {
    
    .content{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .btn{
        width:242px;
        height: 242px;
        margin: auto;
        margin-top: 155px;
        margin-bottom: 80px
    }
}