

.btn{
    width: 274px;
    height: 274px;
    background-color: #FFF;
    border-radius: 100%;
    font-family: 'Bellefair';
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 24vh;
    margin-left: 20vw;
}



