
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    padding: 40px 0 0 55px;
    font-family: 'Barlow Condensed';
    font-size: 16px;
    color: #FFF;
}

svg {
    width: 52px;
    height: 52px;
}
.active {
    border-bottom: solid 3px white;
    display: block;
    padding-top: 35px;
    padding-bottom: 30px;
}

@media(min-width:376px) and (max-width:768px){
    svg{
        width: 48px;
        height: 48px;
    }

    .bar{
        display: none;
    }
    .nav-bar{
        width: 453px;
        height: 104px;
        margin-left: 231px;
        font-size: 14px;
    }
    
    .item-id{
        display: none;
    }
    .header {
        padding: 0 0 0 39px;
    }
}


